@font-face {
  font-family: gamer;
  src: url("../fonts/gamer.ttf")
}

* {
    font-family: gamer;
}

body {
  background-image:url("../img/background/main-menu.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 98vh;
}

footer {
  position: relative;
}

.audio_controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

.audio_controls a:hover {
  opacity: 0.5;
}

#main-menu{
  display: flex;
}

#settings {
  display: none;
}

#left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-top: 40vh;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-top: 40vh;
}

#menu a {
  height: 100px;
  width: 300px;
  background-color: transparent;
  font-size: 1.8em;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease;
}

#menu a:hover {
  color: #39136f;
  font-size: 2em;
  transition: all 0.3s ease;
}


progress {
  -webkit-appearance: none;
}

::-webkit-progress-value, ::-moz-progress-bar {
  background-color: var(--c,green);
}
