@font-face {
  font-family: gamer;
  src: url("../fonts/gamer.ttf")
}

* {
    font-family: gamer;
    overflow: hidden;
}

body {
  background-image:url("../img/background/main-menu.gif");
  background-repeat: no-repeat;
  background-size: cover;
}


footer {
  position: relative;
}

.audio_controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

.audio_controls a:hover {
  opacity: 0.5;
}

/* Stats */
#stats_container {
  display: none;
  justify-content: end;
}

#stats_content {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
  opacity: 0.5;
}

#stats_content:hover {
    opacity: 1;
}

.playerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.playerInfo img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

#main-menu{
  display: flex;
}

#settings {
  display: none;
}

#left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-top: 40vh;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-top: 40vh;
}

#menu a {
  height: 100px;
  width: 300px;
  background-color: transparent;
  font-size: 1.8em;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease;
}

#menu a:hover {
  color: #39136f;
  font-size: 2em;
  transition: all 0.3s ease;
}


progress {
  -webkit-appearance: none;
  height: 10px;
}

::-webkit-progress-value, ::-moz-progress-bar {
  background-color: var(--c,green);
}

#mainStory {

  align-items: center;
  height: 100vh;
  width: 100vw;
  display: none;
}

.text_case {
  width: 80%;
  margin: auto;
  font-size: 1.8em;
  letter-spacing: 2px;
  text-align: center;
  border: 6px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: #FFF;
}

.buttonChoices {
  font-size: 1.3em;
  border: 2px solid black;
  background-color: #FFF;
  color: black;
  text-align: center;
  margin-top: 10px;
}
.buttonChoices:hover {
  font-size: 1.3em;
  border: 2px solid #FFF;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 10px;
}

#choices {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

#hiddenButton {
  display: none;
}

/* Text Div */

#text_01_00, #text_01_01 {
  display: none;
}


/* Checkpoint Divs */

#checkpoint_00 {
  display: none;
  text-align: center;
}

#checkpoint_01, #checkpoint_02, #checkpoint_03, #checkpoint_04, #checkpoint_05, #checkpoint_06, #checkpoint_07, #checkpoint_08, #checkpoint_09, #checkpoint_10, #checkpoint_11, #checkpoint_12, #checkpoint_13, #checkpoint_14, #checkpoint_15, #checkpoint_16, #checkpoint_17, #checkpoint_18, #checkpoint_19, #checkpoint_20, #checkpoint_21, #checkpoint_22, #checkpoint_23 {
  display: none;
  width: 100vw;
  text-align: center;
}

#gameOver {
  display: none;
}

#checkpoint_03 img {
  height: 50px;
}

#checkpoint_03 img:hover {
  opacity: 0.5;
}

.monstre p {
  color: white;
}

.monstre {
  border: 2px solid white;
  width: 150px;
  margin: auto;
}

.flex_container {
  display: flex;
  justify-content: space-between;
}
